{
  "env": {
    "jasmine": true
  },
  "globals": {
    "angular": false,
    "module": false,
    "inject": false
  },
  "parser": "babel-eslint",
  "extends": "react-app",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
